[all]
[all:vars]
ec2_access_key="YOUR_AWS_ACCESS_KEY_ID"
ec2_secret_key="YOUR_AWS_SECRET_ACCESS_KEY"

#name of the ssh key, which will be created
key_name=ec2.id_rsa
ansible_ssh_private_key_file=deploy_keys/ec2.id_rsa
#ubuntu, ec2-user
ansible_ssh_user=ubuntu


instance_type=t2.micro
security_group=default_ansible
# choose one ami, e.g. ami-af79ebc0 (ubuntu@eu-central-1), ami-194cdc76 (rhel@eu-central-1)
ami_id=ami-af79ebc0

# choose a region, e.g. us-west-1, eu-central-1
region=eu-central-1
count=1

#uncomment this if you want to delete (multiple instances)
#state=absent
#instance_ids="i-XXXXXX,i-XXXXXX"

[local]
localhost


[playground]


